@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
#btn-download {
    margin-left: 2%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.nav-link {
    color: #fff !important;
    border-bottom: 1px solid #3b46ab;
    transition: .2s;
}
.nav-link:hover{
    border-bottom: 1px solid #ffffff;
}

.jumb {
   margin-top: 10px;
   background-color: rgba(59, 70, 171, .2);
   border: 1px solid #3b46ab;
}

.login-form {
    background-color: rgba(59, 70, 171, .2);
}