@{
    ViewBag.Title = "Contact";
}

<br />
<a download href="@Url.Content("~/Extract/base.zip")" type="button" class="btn btn-info">Скачать базы</a>
<button class="btn btn-danger" onclick="deleteAllFiles()">Удалить с сервера базы</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
            </div>
            <div class="modal-body">
                <span id="MessageError"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/app.js")