@{
    ViewBag.Title = "Базы";
}
<br />

<button class="btn btn-info" id="btn1" onclick="ZipAllFiles()">Сформировать ZIP документ с базами</button>
<a download href="@Url.Content("~/Extract/base.zip")" type="button" id="submitBtn" class="btn btn-success">Скачать базы</a>
<hr />
<div id="booksDiv"></div>

<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span>Выполняется формирование...</span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <div class="modal-body">
                <span id="Message"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="reloadWindowZipFiles()" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

